.about {
  padding-bottom: 2rem;

  &__bio-image {
    height: 50vh;
    width: 100%;
    background:
    // /* the pic is too bright, add some gradient */
      // url("../img/Meckes_Feb2022.jpg") center top;
      linear-gradient(to right, rgba(black, 0.6), rgba(black, 0.6)),
      url("../img/_N9M7338.jpg") center top;
    // url("../img/model-1.jpeg") center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-bottom: 2rem;
    }
  }

  &__bio {
    width: 80%;
    text-align: center;

    .text-secondary {
      padding-bottom: 2 rem;
      margin-bottom: 1rem;
    }
    .container {
      // width: 60%;
      font-size: 1.3rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &__job {
      background: lighten($primary-color, 10%);
      padding: 0.5rem;
      border-bottom: 5px solid $secondary-color;
      line-height: 1.6rem;
      h2,
      h3 {
        margin: 0.5rem 0;
      }
      h6 {
        margin: 0.3rem 0;
      }
    }
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  footer {
    transform: rotate(90deg) translate(-3rem, -4rem);
  }
}
